* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


  
  
  /*  Desktop Style */
  @media screen and (max-width: 778px) {
    body {
      background-color: darkslategrey;
      font-family: 'Myriad Pro', Helvetica, Arial, sans-serif;
      

    }
    #root {
      background-color: darkolivegreen;
      display: flex;
      flex-flow: column wrap;
      align-content: space-between;
      justify-content: center;
      /* display: grid;
      grid-template-columns:1fr 1fr 4fr ;
      grid-template-rows: 100px auto;
      grid-gap: 1em;
      margin: 0em 2em; */
      margin: auto 0;
      padding: 0.75em;
    }

    header {
      margin: auto;
      
      
    }

    header h1 {
      font-size: 1.75em;
      font-weight: bold;
      font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif;
      color: gold;
      text-shadow: 2px 2px 5px black;
    }

    nav {
      margin: 1em 2em;
      text-align: center;
    }

    nav ul > li {
      display: inline;
    }
    
    main {
      width: 90vw;
      height: auto;
      padding: 1em;
      margin: auto;
      background-color: #ddd;
      border-radius: 3px;
  
  
    }

    li {
      list-style: none;
    }
    #profile {
      grid-column: 2/3;
    }
    form {
      visibility: hidden;
      display: flex;
      flex-direction: column;
      width: 300px;
      background-color:darkslategray;
      padding: 5px 10px;
      margin: 10px;
      border-radius: 3px;
      box-shadow: #333 3pt 3pt 3pt 3pt;

    }

    form label {
      color: #fff;
      font-size: 1.1em;
      text-align: center;

    }
    form h2 {
      display: inline;
    }
    .form-btn {
      font-size: 9pt;
      font-family: Verdana, Garamond, Tahoma, sans-serif;
      background-color: orangered;
      color:#fff;
      width: 50px;
      height: 50px;
      margin: 2px;
      padding: 5px;
      border-radius: 3px;
      box-shadow: 3px 3px 3px darkgrey;
      
    }
    .form-btn :hover,
    .form-btn :focus {
      background-color: orangered;
      transform: scale(1.2); 
      
      
    }

    footer {
      
      background-color: #eee;
      padding: 2em;
      text-align: center;
      
    }
  
    footer ul > li {
  
      display:inline;
      
     

    }

    .cmodules,
    .search-go {
      background-color: rgba(47,79, 79, 0.9) ;
      color:whitesmoke;
      border-radius: 3px;
      box-shadow: 3px 3px 3px black;
   
      padding: 1.5em;
      margin: 1em;
    }

    .cmodules h1, h2, h3 {
      color: khaki;
      text-shadow: 2px 2px 10px black;
      font-variant-caps: all-small-caps;
      
    }

    button {
      padding: 0.5em;
      margin: 5px 10px;
      font-size: 0.7em;
      font-family: Arial, Helvetica, sans-serif;
      background-color: khaki;
      color: darkslategrey;
      border-radius: 3px;
    }

    .search-go {
     width: 350px;
    }

    #map {
      
      height: 500px; 
      position: relative;
      z-index: 1;
    }
  }

