/* mobile style */
@media screen and (max-width: 780px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
 
    display: grid;
    grid-template-columns: 1fr;


}

#login {
  
}
#signUp {
  display: none;
}

#login,
#signUp,
#entryBtn {

  
}

header {
  
}
header ul>li {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
nav {
  background-color: olivedrab;
  color: #eee;
  height: 50px;
  width: 80vw;


}

nav ul>li {
  display: flex;
  /* flex-direction:  */
  justify-content: space-around;
  list-style: none;
}

main {
 
}

footer {
  
}

form {
    
   

}



.add-form {
  display: none;
}


.btn-login : hover,
.btn-newUsr: hover,
.btn-login : focus,
.btn-newUsr: focus,
 {
    border-radius: 0 3px;
    width: 5em;
    color: khaki;
    background-color: hotpink;

}


.add,
.delete,
.edit {
    border-radius: 50% 50%;
    background-color: rgba(0, 0, 51, 0);
    color: whitesmoke;
}

.add,
.delete,
.edit,
.add:focus,
.delete:focus,
.edit:focus {
    border-radius: 50% 50%;
    background-color: peru;
    translate: 2s;
    transform: scale(1.2,1.2);

} */


}

/* Desktop Style */
@media screen and (max-width: 1800px) {}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    margin: 0 auto;
    color: #000;
    background-color: #ddd;
    font-family: 'Myriad Pro', Arial, Helvetica, Tahoma, sans-serif;
    font-size: 11pt;
    line-height: 1.65em;


    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 5px;
    grid-template-areas: 
    "hd hd hd hd"
    "nv nv nv nv"
    "mn mn mn mn"
    "ft ft ft ft";



}

#login {
  display: none;
}

#signUp {
  display: none;
}

/* #container {
  width: 90vw;
  margin: 0 auto;
  padding: 10px 10px;
  background-color: #ddd;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 200px;

} */

header {
  grid-area: hd;
  background-color:  #888;
  height: 100px;
  margin: 10pt auto;
  padding: 15px;
  width: 90vw;
  text-transform: capitalize;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  box-shadow:         3px 3px 5px 6px rgb(26, 25, 25);

}

h1,
h2 {
  text-shadow: #ddd 2pt 2pt;
  text-transform: uppercase;
  line-height: 1.5em;
  padding-bottom: 15px;
}
h1 {
  color: #fff;
}

h2 {
  color:  #000;
}

nav {
  grid-area: nv;
  background: linear-gradient(180deg, rgba(12, 12, 126, 0), darkcyan);
  color: peru;
  height: 50px;
  width: 100vw;
  font-size: 1.5em;

}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

nav ul>li {
   
  color: #fff;
  text-transform: capitalize;
}

nav ul>li :hover,
nav ul>li :focus {
  color: #f78733;
  transform: scale(1.25,1.25);
  transition: 1s;

}

nav ul>li :visited {
  color: #fff;
  list-style: none;
}

main {
  grid-area: mn;
  display: flex;
  justify-content: space-around;
  color: #fff; 
  background: #4abdac;
  margin: 0 auto;
  padding: 5px 10px;
  width: 90%;
  text-align: center;
 
}
article {
  grid-area: ar;
}
#avatar {
  
  

}
#avatar img {
  
}

#leadBlob {
  
}
#usr-profile{
  grid-area: pf;
  
}
#usr-profile ul>li {
  list-style: none;
  text-align: left;
  padding-left: 5px;
}
footer {
  grid-area: ft;
  

}
footer ul>li {
  list-style: none;
  display: flex;
  justify-content: space-around;
}



input[type=button] {

}
button {
    border-radius: 3px;
    width: 200px;
    height: 50px;
    background-color: #000;
    margin:10px;
    color: #fff;
}

input[type=button]:hover,
button:hover,
input[type=button]:focus,
button:focus { 
  background-color: rgb(255,200,0));
  
}

/* Form Styles */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 400px;

  background-color: whitesmoke;

  box-shadow: 3px 3px 5px 6px rgb(26, 25, 25);
  margin: 0 auto;
}

label,
input,
textarea {

  margin: 0 auto;
  padding: 10px;
  background-color: #ddd;


}

label {
  color: black;
  background: none;
  font-family: "Myriad Pro", "Helvetica", "Univers", sans-serif;
  text-transform: uppercase;
 
  padding-bottom: 4pt;


}

textarea {
  height: 500px;
}

.listView {
  grid-area: lv;
  background-color: #ddd;
  padding: 5px;
  margin: 0 auto;
  width: 200px auto;
  border-radius: 3px;
  box-shadow: #000 3px 3px 3px 3px;
  list-style: none;
}

.listView ul  {
  list-style: none;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 3px;
  background-color: whitesmoke;
  box-shadow: #000 3px 3px 3px 3px;
  color: #000;


}

.listView ul > li {
  border-radius: 3px;
  line-height: 1.65em;
  
}